<!--Страница зарегистрированных биологических образцов-->

{% extends 'biobank/biobank_layout.html' %}

{% block title %}Проекты{% endblock %}
{% block content %}
<div class="features">
    <div class="title_object">
        <p>
            <span class="larger-text">Проекты</span>
            <a href="{% url 'create_project' %}">
                <button>Добавить</button>
            </a>
            
        </p>
    </div>
    {{ username }}<br>
    <!-- Вывод таблицы о существующих биологических образцах -->
    <table>
        <thead>
            <tr>
                <td class="property-cell">Название</td>
                <td class="value-cell">Тестовое поле</td>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ project.title }}</a></td>
                    <td>{{ project.test_field }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
     
</div>
{% endblock %}
