<!--Страница зарегистрированных биологических образцов-->

{% extends 'biobank/biobank_layout.html' %}

{% block title %}Биологические образцы{% endblock %}
{% block content %}
<div class="features">
    <h1>{{ title }}</h1>
    <!-- Блок с названием раздела + кнопка добавить -->
    <div class="title_object">
        <p>
            <span class="larger-text">Биологические образцы</span>
            <a href="{% url 'create_biospecimen' %}">
                <button>Добавить</button>
            </a>
            
        </p>
    </div>
    
    {{ username }}<br>
    <!-- Вывод таблицы о существующих биологических образцах -->
    <table>
        <!-- Заголовки столбцов -->
        <thead>
            <tr>
                <td class="property-cell">Название</td>
                <td class="value-cell">Тестовое поле</td>
                <td class="value-cell">Дата</td>
            </tr>
        </thead>
        <!-- Итерируемые строки биологических образцов, получаемых из БД -->
        <tbody>
            {% for biospecimen in biospecimens %}
                <tr>
                    <td>{{ biospecimen.title }}</td>
                    <td>{{ biospecimen.test_field }}</td>
                    <td>{{ biospecimen.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>
{% endblock %}
